menu "LedWall Configuration"
    config PROVISION_POP
        string "Proof-of-Possession"
        default "abcd1234"
        help
            Auto provisioning Proof-of-Possession

    config MDNS_HOSTNAME
        string "mDNS Hostname"
        default "ledwall"
        help
            Hostname to advertise via mDNS

    config ENABLE_MQTT
        bool "Enable MQTT Interface"
        default false

    config ENABLE_REST
        bool "Enable http/REST Interface"
        default false

    config BROKER_URL
        string "MQTT Broker URL"
        default "mqtt://iot.eclipse.org"
        help
            URL of the MQTT broker to connect to

    config DATA_PIN
        int "Data PIN the LEDs are attached to"
        default 26

    config NUM_LEDS
        int "Number of LEDs"
        default 16
endmenu
