menu "LedWall Configuration"
    config PROVISION_POP
        string "Proof-of-Possession"
        default "abcd1234"
        help
            Auto provisioning Proof-of-Possession

    config MDNS_HOSTNAME
        string "mDNS Hostname"
        default "ledwall"
        help
            Hostname to advertise via mDNS

    config ENABLE_CAM
        bool "Enable CAM Driver"
        default false

    config ENABLE_MQTT
        bool "Enable MQTT Interface"
        default false

    config ENABLE_REST
        bool "Enable http/REST Interface"
        default false

    config DATA_PIN
        int "Data PIN the LEDs are attached to"
        default 26

endmenu
